<template>
  <q-page class="flex flex-center">
    <div ref="droparea">
      <p>ide húzd a fájlt, aztán megnézzük, milyen fájlok vannak vele egy szinten a fájlrendszerben...</p>
      <ul v-if="siblingFiles.length">
        <li
          v-for="(filename, index) in siblingFiles"
          :key="index">
          {{ filename }}
        </li>
      </ul>
    </div>
  </q-page>
</template>

<style lang="stylus" scoped>
div {
  border: 2px dashed black;
  width: 80%;
  height: 80%;
  padding: 3em;
}
</style>

<script>
const { ipcRenderer } = require('electron')

export default {
  name: 'PageIndex',

  data() {
    return {
      siblingFiles: [],
    };
  },

  mounted() {
    console.log('this.$refs.droparea', this.$refs.droparea);

    document.addEventListener('dragover', function(event) {
      event.preventDefault();
      return false;
    }, false);

    document.addEventListener('drop', function(event) {
      event.preventDefault();
      return false;
    }, false);

    this.$refs.droparea.addEventListener("drop", function(e) {
      e.preventDefault();
      var files = e.dataTransfer.files;
      console.log("Drop files:", files);
      Object.keys(files).forEach((fileIndex) => {
        ipcRenderer.send('ondrop', files[fileIndex].path);
      });
    });

    ipcRenderer.on('tartalmazo-mappa-elemei', (event, arg) => {
      console.log('tartalmazo mappa elemei', arg)
      this.siblingFiles = arg;
    })
  }

}
</script>
